*:not(strong):not(em) {
   font-family: var(--branding-body-font-family), sans-serif;
} 

/* Root Container */
.bm-theme-root {
   position: relative;
}

.bm-theme-root::before {
   content: "";
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999999;
   width: 0;
   height: 5px;
   background-color: var(
      --branding-primary-accent-dark,
      #d29a89
   );
   opacity: 0;
   pointer-events: none;
}

.bm-theme-root__container__page.loading::before {
   opacity: 1;
   animation: template-page-loading 1.5s ease-in-out infinite !important;
}

/* Sidebar */
.template-sidebar {
   position: fixed;
   height: 100vh;
   left: -290px;
   z-index: 999999;
   top: 0;
   transition-duration: 0.5s !important;
}
.template-sidebar.active {
   left: 0;
   transition-duration: 0.5s !important;
}
.template-sidebar__content {
   width: 290px;
   top: 0;
   max-width: 290px;
   background: var(--branding-secondary-accent-light);
   box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.05);
   overflow-y: auto;
   height: 100vh;
   align-self: flex-start;
   top: 0;
}
.template-sidebar__back-button {
   display: flex;
   align-items: center;
   gap: 7px;
   padding: 25px 30px 0px;
   color: var(--branding-primary-text-color);
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__back-button__icon {
   padding-bottom: 1px;
   color: var(--branding-primary-text-color);
}
.template-sidebar__back-button__text {
   font-size: 11px;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 600;
   color: var(--branding-primary-text-color);
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__logo {
   margin: auto;
   padding-inline: 30px;
   padding-block: 30px;
   min-width: 252px;
   width: 100%;
}
.template-sidebar__titles {
   font-size: var(--branding-p-font-size);
   color: var(--branding-primary-heading-color, var(--branding-primary-text-color));
   display: block;
   font-weight: 700;
   padding: 5px 7px 5px 10px;
   cursor: pointer;
   background-color: transparent;
   border-bottom: solid var(--branding-background-color-light);
   border-top: solid var(--branding-background-color-light);
   line-height: 22.4px;
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__category {
}
.template-sidebar__category__item {
}
.template-sidebar__category__item__title {
   color: var(--branding-primary-heading-color, var(--branding-primary-text-color));
   font-weight: 400;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 5px 10px;
   cursor: pointer;
   background-color: #e1c4ba4d;
   border-bottom: solid var(--branding-background-color-light);
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   cursor: pointer;
   border-bottom-style: solid;
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__category__item__title__content {
   display: flex;
   align-items: flex-start;
}
.template-sidebar__category__item__title__content__icon {
   font-size: var(--branding-p-font-size);
   transition-duration: 0.5s !important;
   color: var(--branding-primary-text-color);
}
.template-sidebar__category__item.active
   .template-sidebar__category__item__title__content__icon {
   transform: rotate(90deg);
   transition-duration: 0.5s !important;
}
.template-sidebar__category__item__title__content__title {
   font-size: var(--branding-p-font-size);
   font-weight: 600;
   line-height: 22.4px;
   margin-left: 10px;
   color: var(--branding-primary-heading-color, var(--branding-primary-text-color));
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__category__item__title__link i {
   font-size: var(--branding-p-font-size);
   color: var(--branding-primary-text-color);
   padding-top: 3px;
}
.template-sidebar__category__item.active .template-sidebar__category__item__content {
   display: block;
}
.template-sidebar__category__item__content {
   display: none;
}
.template-sidebar__category__item__post {
   display: flex;
   gap: 10px;
   align-items: flex-start;
   cursor: pointer;
   margin: 5px 20px 5px 25px;
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__category__item__post__icon {
   width: 15px;
   height: 15px;
   padding-top: 3px;
}
.template-sidebar__category__item__post__icon * {
   stroke: var(--branding-primary-text-color);
}
.template-sidebar__category__item__post__text {
   color: var(--branding-primary-text-color);
   display: block;
   font-size: calc(var(--branding-p-font-size) - 1px);
   line-height: 21px;
   padding-bottom: 3px;
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__category__item__sub-folder {
   margin-block: 5px;
}
.template-sidebar__category__item__sub-folder__title {
   display: flex;
   align-items: center;
   cursor: pointer;
   width: 100%;
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 10px;
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__category__item__sub-folder__title__icon {
   font-weight: 900;
   font-size: var(--branding-p-font-size);
   color: var(--branding-primary-text-color);
}
.template-sidebar__category__item__sub-folder__title__text {
   font-size: calc(var(--branding-p-font-size) - 1px);
   line-height: 21px;
   color: var(--branding-primary-heading-color, var(--branding-primary-text-color));
   font-weight: 700;
   padding: 4px 12px 0px 0px;
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-sidebar__category__item__sub-folder.active
   .template-sidebar-category__item__sub-folder__posts {
   display: block;
}
.template-sidebar-category__item__sub-folder__posts {
   padding-left: 2px;
   display: none;
}
.template-sidebar__image {
   display: block;
   border-radius: 0px;
   box-shadow: 0 5px 10px 0 rgb(0 0 0 / 5%);
   background: var(--branding-background-color-light);
   padding: 20px;
}
.template-sidebar__image img {
   border-radius: 8px;
}
.template-sidebar__toggler {
   padding-inline: 6px;
   background-color: var(--branding-primary-accent-dark);
   position: absolute;
   top: 0;
   right: -40px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   width: 40px;
   height: 100vh;
}
.template-sidebar__toggler:hover {
   transition: all 0.2s ease-in-out;
}
.template-sidebar__toggler i {
   color: var(--branding-background-color-light);
   font-size: 20px;
   font-family: var(--_fa-family) !important;
}
.template-sidebar__toggler i.close {
   display: none;
}
.template-sidebar.active .template-sidebar__toggler .close {
   display: block;
}
.template-sidebar.active .template-sidebar__toggler .open {
   display: none;
} 

/* Navbar */
.template-navbar-wrapper {
   background-image: url(https://res.cloudinary.com/dpr6hw8uh/image/upload/v1774399175/About_Section_Background_Image_page-0001_1_ldcjft.jpg);
   background-size: cover;
   background-position: center;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-block: 30px;
   padding-inline: 15px;
   max-width: calc(100% - 40px);
   margin-left: auto;
}
.template-navbar-wrapper * {
   z-index: 1;
   position: relative;
}
.template-navbar-wrapper::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #f6ebe7c9;
   left: 0;
   top: 0;
   z-index: 0;
}
.template-navbar__logo-link img {
   margin-left: 50px;
   max-height: 100px;
}
.template-navbar__content {
   display: flex;
   align-items: center;
   gap: 18px;
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-navbar__content__close {
   display: none;
}
.template-navbar__content__nav-links {
   display: flex;
   align-items: center;
   gap: 20px;
}
.template-navbar__content__nav-links a {
   font-size: var(--branding-h6-font-size);
   line-height: 100px;
   font-weight: 400;
   color: var(--branding-primary-text-color);
   font-family: var(--branding-body-font-family), sans-serif;
}
.template-navbar__content__avatar-img {
   height: 40px;
   margin-right: 20px;
   border-radius: 50%;
}
.template-navbar__burgermenu {
   display: none;
}
@media (max-width: 1024px) {
   html {
      overflow: unset !important;
   } 
   
   /* Navbar */
   .template-navbar-wrapper {
      padding: 13px 10px;
   }
   .template-navbar__logo-link {
   }
   .template-navbar__logo-link img {
      margin: 0;
      height: 50px;
   }
   .template-navbar__burgermenu {
      display: block;
      font-family: var(--_fa-family) !important;
      color: var(--branding-primary-text-color);
      font-size: 25px;
   }
   .template-navbar__content {
      position: fixed;
      width: 95%;
      height: 100vh;
      top: 0;
      left: -100%;
      z-index: 999999999999999;
      background-color: var(--branding-background-color-light);
      flex-direction: column-reverse;
      overflow-y: scroll;
      align-items: flex-start;
      padding: 40px 20px 20px;
      justify-content: flex-end;
      transition-duration: 0.5s !important;
   }
   .template-navbar__content.active {
      left: 0;
      box-shadow: 0px 0px 0px 100vw #00000054;
      transition-duration: 0.5s !important;
   }
   .template-navbar__content__close {
      display: block;
      font-family: var(--_fa-family) !important;
      color: var(--branding-primary-text-color);
      font-size: 25px;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 9999;
   }
   .template-navbar__content__nav-links {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 13px;
      gap: 15px;
   }
   .template-navbar__content__nav-links a {
      font-size: var(--branding-h6-font-size);
      line-height: 25px;
   } 
   
   /* Sidebar */
   .template-sidebar.active::before {
      content: "";
      position: fixed;
      background-color: #00000066;
      width: 100vw;
      height: 100vh;
      left: 0;
   }
   .template-sidebar__content {
      z-index: 1;
      position: relative;
   }
   .template-sidebar__toggler {
      width: 30px;
      height: 45px;
      right: -30px;
      margin-block: auto;
      bottom: 0;
   }
   .template-sidebar.active .template-sidebar__toggler::before {
      content: "";
      position: absolute;
      width: 5px;
      background-color: inherit;
      height: 100vh;
      left: 0;
      z-index: 1;
   }
   .template-sidebar__toggler i {
      font-size: 13px;
   }
}


@keyframes template-page-loading {
   0% {
      left: 0;
      width: 0;
   }

   50% {
      left: 20%;
      width: 60%;
   }

   100% {
      left: 100%;
      width: 0;
   }
}